aside, article, section, header, footer{
    display: block;
    margin:0;
    padding:0;
}




body{
    background-color:rgb(146, 39, 39);
}

/*Letras*/

h1{
    color:black;
    font-size:60px;
}

h4{
    font-size:30px;
}
h5{
    font-size:13px;
    width:300px;
}
/**/

.tumulo1{
    height:2000px;
    width:50%;
    float:left;
    background-color:white;
}

.tumulo2{
    height:2000px;
    width:50%;
    float:left;
    background-color:white;
}

.tumulo1, .tumulo2{
    background:white;
    height:100%;
}


.tumulo11{
    position: relative;
    left:300px;
    bottom:230px;
    color:black;
}



footer{
    height:40px;
    background:white;
    width:100%;
    float: left;
}

/*IMAGENES*/
img{
    width:300px;
}

.img2{
    width:150px;
}
.img3{
    position: absolute;
    bottom:25px;
    left:350px;
}

/**/

/*Descargas*/
.Descargar1{
    position:absolute;
    bottom:2px;
    width:80px;
    height:20px;
    left:350px;
    text-decoration: none;
    background: rgb(146, 39, 39);
    color:rgb(255, 174, 0);
    text-align: center;
    
}
/**/

/*MENU*/
#menu{
    margin: auto;
    width:1000px;
}

ul, ol{
    list-style:none;
}


.menu li a{
    position: relative;
    right:170px;
    background-color:white;
    text-decoration:none;
    color:black;
    padding:10px;
    display: block;
    font-size:19px;
}

.menu li a:hover{
    background-color: rgb(67, 0, 77);
}

.menu > li{
    float: left;
}

.menu li ul{
    display:none;
    position: absolute;
    min-width:140px;
}

.server1{
    margin:10px;
    padding:10px;
}
/*MENU*/





@media screen and (max-width:800px){
    *{margin:0;
        padding:0;
    }

   
    .tumulo1, .tumulo2{
        background:white;
        height:100%;
        width:100%;
    }

    /*LETRAS*/
    h4{
        font-size:20px;
        
    }
    /*LETRAS*/


    /*DESCARGA*/
    .Descargar1{
        position:absolute;
        bottom:160px;
        width:80px;
        height:20px;
        left:330px;
        text-decoration: none;
        background: rgb(146, 39, 39);
        color:rgb(255, 174, 0);
        text-align: center;
        
    }
    /*DESCARGA*/

   


    /*IMAGENES*/
    .img3{
        position: absolute;
        bottom:190px;
        left:330px;
    }
    img{
        width:200px;
    }
    /*IMAGENES*/


    /*MENU*/
    #menu{
        margin: auto;
        width:680px;
    }

    .menu li a{
        position: relative;
        right:0px;
        background-color:rgb(196, 167, 167);
        text-decoration:none;
        color:black;
        padding:10px;
        display: block;
        font-size:19px;
        font-size:15px;
    }
    
    .menu li a:hover{
        background-color: rgb(67, 0, 77);
    }
    
    .menu > li{
        float: left;
    }
    
    .menu li ul{
        display:none;
        position: absolute;
        min-width:140px;
    }
    /*MENU*/

}




